<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body class="<%= (typeof accountData !== 'undefined' && accountData.account_mode) ? 'dark' : '' %>">
    <div id="wrapper">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>

        <main>
            <%- body %>
        </main>

        <%- include('../partials/footer') %>
    </div>
</body>
</html>